@charset "UTF-8";
/* Palette de variables de couleurs */
/*donner aux variables des noms compréhensibles et faciles à mémoriser.Regrouper
 les variables par couleur et  ordonner par nuance, de façon à s'y retrouver
 facilement entre les clairs et les foncés.*/
/*Sass propose quelques opérations avec les couleurs qui vous permettent
d'étendre vos variables de couleurs. Par exemple, si je veux une couleur
 plus brillante que celle que j'ai dans mes variables, je peux utiliser
 l'opération saturate plutôt que de créer une nouvelle variable.

 ex: h2 {
  color: saturate($green-dark, 100%);
} */
/*  Body */
p {
  color: #CFDBD5;
}

h3 {
  color: #90BE6D;
}
